# Python
__pycache__/
*.pyc
.venv/
.env
.cache/

# Data (keep large assets out of git)
data/
artifacts/
packages/classifier/images/SlideVQA/full_dataset/annotated/
packages/classifier/images/SlideVQA/full_dataset/original/
packages/classifier/images/SlideVQA/by_class
packages/diffusion/dataset/synthetic_dataset/
packages/diffusion/dataset/images_flattened/
packages/diffusion/dataset/images_flattened.zip

# Misc
.DS_Store
*.log
