# Python
__pycache__/
*.pyc
.venv/
.env
.cache/

# Data (keep large assets out of git)
data/
artifacts/
packages/classifier/images/SlideVQA/full_dataset/annotated/
packages/classifier/images/SlideVQA/full_dataset/original/
packages/classifier/images/SlideVQA/by_class
packages/classifier/Javads_part_640/diagram_node_yolo/SlideComponents.v2i.yolov8-obb
packages/classifier/Javads_part_640/ai2d
packages/classifier/Javads_part_640/dataset_logos_images/
packages/classifier/Javads_part_640/dataset_diagrams_ai2d
packages/classifier/text/output
packages/classifier/text/sample_data
packages/classifier/text/temp_slidevqa
packages/classifier/text/trained_models/*.pkl
packages/classifier/text/training_data/
packages/diffusion/dataset/synthetic_dataset/
packages/diffusion/dataset/images_flattened/
packages/diffusion/dataset/images_flattened.zip

# Misc
.DS_Store
*.log
